.searchArea {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .playerInput {
    width: 450px;
    min-width: 300px;
    font-size: 1.3em;
    padding-left: 20px;
    height: 55px;
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgba(34, 49, 63, 0.8);
    color: #fff;
    transition: 0.2s ease-out;
  }
  
  .playerInput:focus {
    background-color: rgba(255, 255, 255, 0.6);
    color: #111;
    transition: 0.2s ease-in;
  }
  
  button {
    border: 0;
    height: 55px;
    padding: 8px 24px;
    font-family: "Droid Sans", sans-serif;
    color: #fff;
    transition: 0.2s ease-out;
  }
  
  .upvoteButton {
    background-color: #00ab9e;
  }
  
  .downvoteButton {
    background-color: #fb655a;
    margin-top: 1pt;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .upvoteButton:hover {
    background-color: #02ffb6;
  }
  
  .downvoteButton:hover {
    background-color: #ff5043;
  }