html {
  height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  background:
    linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8)),
    url('./Static/img/browns.jpg');
    background-attachment: fixed;
    background-size: cover;
}

* {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.playersWrapper {
  display: flex;
  flex-direction: column;
}

/*Fantsy and image*/
.playersHeader {
  display: block;
  min-height: 2.5em;
  max-height: 2em;
  font-size: 3.3em;
  color: rgba(0,0,0,0.9);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 30px 0px 35px 155px;
  background-color: rgba(0,0,0,0.2);
  text-transform: uppercase;
}

/*Crowdsourced player trends*/
.subheading {
  min-height: .3em;
  max-height: 1.0em;
  font-size: .4em;
  color: rgba(0,0,0,0.8);
  margin-top: -15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  align-content: center;
  text-transform: uppercase;
  text-decoration: overline;
  white-space: nowrap;
}

.user-profile, .user-profile-text{
  float: right;
  border-radius: 15px;
  cursor: pointer;
  margin: 2px 5px 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 8pt;
}

.authArea{
  float: right;
  margin-right: 15px;
}

button{
  border: none;
  outline:none;
}

.loginSignUpIn {
  height: 45px;
  width: 100px;
  padding: 0 4px 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 11pt;
  white-space: nowrap;
  border-radius: 5px;
  background-color: #0284A8;
  text-align: center;
  color: white;
}

.loginSignUpOut {
  height: 45px;
  width: 100px;
  padding: 0 4px 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 11pt;
  white-space: nowrap;
  border-radius: 5px;
  background-color: #fb655a;
  text-align: center;
  color: black;
}


.loginSignUpIn:hover {
  background-color: #fb655a;
  color: black;

}

.loginSignUpOut:hover {
  background-color: #0284A8;
  color: white;
  
}

/*Search area*/
.playersFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 10%;
  background-color: rgba(0, 0, 0, 0, 0.5);
}

/*Displays season week #*/
.weekHeading{
  margin: auto;
  margin-top: 5px;
  padding-top: 6px;
  height: 55px;
  width: 570px;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.5);
  color: rgba(238, 238, 221, 0.7);
  box-shadow: 43x 3px 2px #333;
  white-space: nowrap;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em;
}

.byes {
  margin: auto;
  margin-top: 7px;
  padding-top: 7px;
  padding-bottom: 5px;
  height: 55px;
  width: 570px;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.5);
  color: rgba(238, 238, 221, 0.6);
  box-shadow: 43x 3px 2px #333;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 0.9em;
}

/*Start of body*/
.playersColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 25px;
  overflow-y: scroll;
}

.playersBody {
  overflow: auto;
  flex-direction: column;
  justify-content: center;
}

.playerButton:hover {
  background-color: #FFF;
}

.trendHeaderUp {
width: 250px;
height: 55px;
vertical-align: middle;
background-color: rgba(17, 17, 17, 0.5);
color: #00ab9e;
padding-left: 73px;
padding-right: 63px;
font-family: 'Roboto', sans-serif;
font-weight: bold;
font-size: 1.1em;
border-radius: 5px;
box-shadow: 43x 3px 2px #333;
white-space: nowrap;
}

.trendHeaderDown {
  width: 250px;
  height: 55px;
  background-color: rgba(17, 17, 17, 0.5);
  color: #fb655a;
  padding-left: 55px;
  padding-right: 53px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 5px;
  box-shadow: 43x 3px 2px #333;
  white-space: nowrap;
}
