html {
  height: 100%;
}
body {
  width: 100%;
  min-height: 100%;
  background:
    linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0, 40, 105, 0.8)),
    url('./Static/img/browns.jpg');
    background-attachment: fixed;
    background-size: cover;
}

* {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.playersWrapper {
  display: flex;
  flex-direction: column;

}

/*Fantsy and image*/
.playersHeader {
  display: block;
  height: 25%;
  color: rgba(0,0,0,0.9);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 30px 0px 35px 155px;
  background-color: rgba(0,0,0,0.2);
  text-transform: uppercase;
  align-items: center;
}


.heading{
  font-family: 'Roboto', sans-serif;
  font-size: 3.5em;
}

/*Crowdsourced player trends*/
.subheading {
  font-size: 15pt;
  margin: 0 55px 0 0;
  color: rgba(0,0,0,0.8);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-decoration: overline;
  white-space: nowrap;
}

.user-profile {
  float: right;
  max-height: 5em;
  border-radius: 15px;
  cursor: pointer;
  margin: 8px 15px 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 8pt;
  opacity: 0.8;
}
.user-profile:hover{
  opacity: 1.0;
}

.authArea{
  float: right;
  margin-right: 15px;
}

button{
  border: none;
  outline: none;
}

.loginSignUpOut {
  height: 45px;
  width: 70px;
  padding: 0 2px 0 0;
  font-family: 'Roboto', sans-serif;
  font-size: 11pt;
  white-space: nowrap;
  border-radius: 5px;
  background-color: #fb655a;
  text-align: center;
  color: black;
}

.loginSignUpIn:hover {
  background-color: #fb655a;
  color: black;
}

.loginSignUpOut:hover {
  background-color: #0284A8;
  color: white;
}

/*Search area*/
.playersFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 10%;
  background-color: rgba(0, 0, 0, 0, 0.5);
}

.closeTab{
  float: right;
  margin-right: 5px;
  height: 10px;
  width: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em;
  font-style: bold;
  cursor: pointer
}

/*Displays season week #*/
.weekHeading{
  margin: auto;
  margin-top: 10px;
  padding-top: 6px;
  height: 65px;
  width: 570px;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.5);
  color: rgba(238, 238, 221, 0.7);
  box-shadow: 43x 3px 2px #333;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em;
}

.byes {
  margin: auto;
  margin-top: 7px;
  padding-top: 7px;
  padding-bottom: 5px;
  height: 55px;
  width: 570px;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.5);
  color: rgba(238, 238, 221, 0.6);
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em;
}

/*Start of body*/
.playersColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 25px;
  align-items: center;
}

.playersBody {
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 255px;
}

.playerButton:hover {
  background-color: #FFF;
}

.trendHeaderUp {
width: 250px;
height: 55px;
vertical-align: middle;
background-color: rgba(17, 17, 17, 0.5);
color: #00ab9e;
padding-left: 73px;
padding-right: 63px;
font-family: 'Roboto', sans-serif;
font-weight: bold;
font-size: 1.1em;
border-radius: 5px;
box-shadow: 43x 3px 2px #333;
white-space: nowrap;
}

.trendHeaderDown {
  width: 250px;
  height: 55px;
  background-color: rgba(17, 17, 17, 0.5);
  color: #fb655a;
  padding-left: 55px;
  padding-right: 53px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 5px;
  box-shadow: 43x 3px 2px #333;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .heading {
    font-size: 2.0em;
  }
  .subheading{
    font-size: 12pt;
  }
  .playersColumns {
    display: flex;
    flex: 1 0 165%;
    flex-direction: column;
    justify-content: space-between;
  }
  .user-profile {
    height: 70%;
  }
  .weekHeading{
    font-size: 0.7em;
    width: 350px;
    padding: 10px 0 10px 0;
  }
  .byes{
    font-size: 0.7em;
    width: 350px;
    padding: 8px 0 8px 0;
  }
  .trendHeaderDown{
    width: 200px;
    padding-left: 35px;
    padding-right: 25px;
  }
  .trendHeaderUp{
    width: 200px;
    padding-left: 50px;
    padding-right: 40px;
  }
}